<div class="container col-md-8 mt-5 mb-4 border shadow p-5">
    <h2 style="background-color: chocolate; text-align: center;">Login here</h2>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">Username</label>
            <input type="text" class="form-control" formControlName="userName" required>
            <div *ngIf="!userNameError" class="text-danger">
                {{userNameError}}
            </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" required>
            <div *ngIf="!passwordError" class="text-danger">
              {{passwordError}}
            </div>
      </div>
      
      <div>
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
      
    </form>
</div>